@import "reset.scss";
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SLIDES---------------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body, .wrapper, .slide {
  height: 100%;
}
$margin: percentage(25/1280);
$row: percentage(100/1280);
$gutters: percentage(30/1280);

.wrapper {
  .slide{
    display: block;
    width: 100%;
  }
  .slide-title {
    background: URL('../images/background.png') no-repeat;
    background-size: 100%;
  }
  .slide-title {
    .header {
      padding-left: $margin + $row + $gutters;
      padding-right: $margin + $row;
    }
    h1 {
      display: block;
      float: left;
    }
    ul.menu {
      float: right;
      li {
        float: left;
        margin-left: 2.34375vw;
      }
    }
    .title {
      clear: both;
      text-align: center;
      font-size: 7rem;
    }
    .explore, i {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    i {
      width: 2*$gutters;
      font-size: 3rem;
      text-align: center;
    }
    a {
      display: block;
      text-align: center;
      clear: both;
    }
  }
  .slide-about {
    .row {
      width: 33%;
      float: left;
    }
    i {
      font-size: 10rem;
      width: 10rem;
      height: 10rem;
      border: 3px solid;
      border-radius: 10rem;
      text-align: center;
    }
  }
}
